<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Todos Lists</title>
</head>
<body>
      <header>

      </header>
      <main>

            <h1>{{todo_list_detail.name}}</h1>
            <nav><a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit a list</a></nav>
            <nav><a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete task</a></nav>
            <nav><a href="{% url 'todo_item_update' todo_list_detail.id %}">Edit Item</a></nav>
            <nav><a href="{% url 'todo_list_create' %}">Create new list</a></nav>
            <nav><a href="{% url 'todo_item_create' %}">Create new item</a></nav>
            <div>
                  <table>
                  <thead>
                        <tr>
                              <th>Task</th>
                              <th>Due Date</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for task in todo_list_detail.items.all  %}

                  <tr>
                        <td>
                              <a href="{% url 'todo_item_update' task.id %}">{{task.task}}</a>

                        </td>
                        <td>
                              {{task.due_date}}
                        </td>
                  </tr>

                        {% endfor %}

      </tbody>
</table>
</div>
      </main>
<footer>

</footer>
</body>
</html>
