<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Todo Lists</title>
</head>
<body>
      <main>
            <div>
                  <h1>My Lists</h1>

            <a href="{% url 'todo_list_create' %}">Create new list</a>
            <nav><a href="{% url 'todo_item_create' %}">Create new item</a></nav>

      <table>
            <thead>
                  <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                  </tr>
            </thead>
      <tbody>
            {% for todos in todo_list_list  %}
            <tr>
                  <td>
                        <a href="{%url 'todo_list_detail' todos.id%}">{{todos.name}}</a>
                  </td>
                  <td>
                        {{todos.id}}
                  </td>
            </tr>
            {% endfor %}
                  </tbody>

            </table>
      </div>
</main>
</body>
</html>
